.DS_Store
.vscode
.venv
.idea
__pycache__
*.swp
ml/saved_model/many_ml/predictions/dataset.csv
ml/saved_model/many_ml/ml_3/scaler.pkl
ml/saved_model/many_ml/ml_3/model.pkl
ml/saved_model/many_ml/ml_3/dataset.csv
ml/saved_model/many_ml/ml_3/confusion_matrix.png
ml/saved_model/many_ml/ml_2/scaler.pkl
ml/saved_model/many_ml/ml_2/model.pkl
ml/saved_model/many_ml/ml_2/dataset.csv
ml/saved_model/many_ml/ml_2/confusion_matrix.png
ml/saved_model/many_ml/ml_1/scaler.pkl
ml/saved_model/many_ml/ml_1/model.pkl
ml/saved_model/many_ml/ml_1/dataset.csv
ml/saved_model/many_ml/ml_1/confusion_matrix.png
ml/saved_model/many_ml/confusion_matrix.png
ml/saved_model/confusion_matrix.png
